<div class="slider">
    <div class="Modern-Slider content-section" id="top">
        <!-- Item -->
        <div class="item item-1">
            <div class="img-fill">
                <div class="image">
                    <%= image_tag 'slide_1.jpg' %>
                </div>
                <div class="info">
                    <div>
                    <h1>Beautiful Template<br>Sentra</h1>
                    <p>Sentra is free Bootstrap CSS Template by templatemo website.<br>
                       Please share our site link to your friends.</p>
                    <div class="white-button button">
                        <a href="#featured">Discover More</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                