<div class="slider">
    <div class="Modern-Slider content-section" id="top">
        <!-- Item -->
        <div class="item item-1">
            <div class="img-fill">
                <div class="image">
                    <%= image_tag 'slide_1.jpg' %>
                </div>
                <div class="info">
                    <div>
                    <h1>Ask questions<br>if you don't understand</h1>
                    <p>わからない事、悩み、人と共有したい事がそれぞれあると思います。<br>
                       あなたの抱えている問題がここで解決できるよう私たちが全力でサポートします。</p>
                    <div class="white-button button">
                            <%= link_to posts_path do %>
                              Questions
                            <% end %>
                            <%= link_to new_post_path do %>
                                 Let's ask !
                            <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                