<% provide(:title, "") %>
<section id="contact" class="content-section">
    <div id="contact-content">
            <div class="section-heading">
                <h1>Edit<br><em>Page</em></h1>
            </div>
            <div class = "row">
                <aside class = "col-md-10">
                    <section class = "post_form">
                        <%= render 'shared/post_form' %>
                    </section>
                </aside>
            </div>
    </div>
</section>     