<div class="page-content">
    <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Recent<br><em>Projects</em></h1>
                    <p>Praesent pellentesque efficitur magna, 
                    <br>sed pellentesque neque malesuada vitae.</p>
                    <dic class = "row">
                        <aside class = "col-md-10">
                            <section class = "post_form">
                                <%= render 'shared/post_form' %>
                            </section>
                        </aside>
                    </div>
                </div>
    </section>
</div>          