<section id="blog" class="content-section">
    <div class="section-heading">
        <h1>Question<br><em>Posts</em></h1>
        <p>興味のあるトピックがあるかもしれません。
        <br>あなたに助力できることを私たちは願っています。</p>
    </div>
    <div class="section-content">
        <div class="tabs-content">
            <div class="wrapper">
                <%= will_paginate @posts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
                <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                    <li><a href="#tab1" class="active">August 2020</a></li>
                    <li><a href="#tab2">July 2020</a></li>
                    <li><a href="#tab3">June 2020</a></li>
                    <li><a href="#tab4">May 2020</a></li>
                </ul>   
                
                <% if @posts.any? %>
                    <h4>Number of posts　<%= @posts.count %> </h4>
                    <ol class="posts">
                        <%= render 'shared/post' %>
                    </ol>
                <% end %>
              <%= will_paginate @posts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>   
            </div>
        </div>
    </div>
</section>
         