<div class="page-content">
    <section id="contact" class="content-section">
        <div id="contact-content">
            <div class="section-heading">
                <h1>Contact<br><em>Sentra</em></h1>
                <p>Curabitur hendrerit mauris mollis ipsum vulputate rutrum. 
                <br>Phasellus luctus odio eget dui imperdiet.</p>        
            </div>
            <div class="section-content">
                <div class="row"> 
                   <%= render 'shared/post_form' %> 
                </div>
            </div>
        </div>
    </section>            
</div>                   
                    