<section id="contact" class="content-section">
    <div id="contact-content">
        <div class="section-heading">
            <h1>Let's<br><em>ask a question!</em></h1>
            <p>質問をしてみましょう。
            <br>わからないこと、悩んでいること、一緒に解決しましょう！</p>        
        </div>
        <div class="section-content">
            <div class="row"> 
                <%= render 'shared/post_form' %> 
            </div>
        </div>
    </div>
</section>            
          