<section id="blog" class="content-section">
    <div class="section-content">
        <div class="tabs-content">
            <div class="wrapper">
                <ol class="posts">
                    <%= render 'shared/post_show' %>
                </ol>
            </div>
        </div>
    </div>    
</section>